body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0b1225;
  }
  
  .identifier-container {
    width: 90%;
    max-width: 500px;
    border-radius: 10px;
    background-color: #101b38;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .input-container label {
    flex: 1;
    color: #ffffff;
  }
  
  .input-container input {
    flex: 2;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    color: #0b1225;
  }
  
  .input-container button {
    flex: 1;
    padding: 10px;
    margin-left: 10px;
    border: none;
    border-radius: 25px;
    background-color: #2c80ff;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .input-container button:hover {
    background-color: #00aaff;
  }
  
  .result-container {
    text-align: center;
    margin-top: 20px;
  }
  
  #resultText {
    color: #ffffff;
    font-size: 20px;
  }
  
  @media only screen and (max-width: 600px) {
    .identifier-container {
      width: 100%;
      border-radius: 0;
      box-shadow: none;
    }
  }
  